* {
    border: none;
    border-radius: 20px;
    font-family: "JetBrains Mono";
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

#workspaces,
#custom-arch,
#network, 
#clock,
#custom-cava,
#pulseaudio,
#custom-power {
    background: rgba(30, 30, 46, 0.9);
    color: #cdd6f4;
    margin: 3px 5px;
    padding: 0 15px;
    border-radius: 20px;
    font-size: 16px;
}

#workspaces button {
    color: #cdd6f4;
    padding: 0 10px;
    margin: 3px 0;
    border-radius: 15px;
    font-size: 16px;
}

#workspaces button.active {
    background: #cba6f7;
    color: #1e1e2e;
}

#network {
    padding: 0 15px 0 10px;
}

#custom-cava {
    font-size: 14px;
    min-width: 120px;
}
